<!doctype html>
<html>
<head>
    <title>Kyeongna</title> 
    <meta charset="utf-8"/>
    <meta copyright="IT공학 전공 박경나">
    <link rel="stylesheet" type="text/css" href="fontfiles.css"/>
    <link rel="stylesheet" type="text/css" href="style-layout.css"/>
</head>
<body class="home">
  <header>경나의 공간
  </header> 
    <nav>
        <a href="Portfolio.html" target="_blank" id="navitem">자기소개</a>
        <a href="Musical.html" target="_blank" id="navitem">뮤지컬</a>
        <a href="Media.html" target="_blank" id="navitem">플레이리스트</a>
        <a href="Kong.html" target="_blank" id="navitem">강아지</a>
        <a href="Cook.html" target="_blank" id="navitem">요리</a>
        <a href="Comment.html" target="_blank" id="navitem">방명록</a>
        <a href="Test.html" target="_blank" id="navitem">우정테스트</a>
    </nav>
  <article>
      <p style="margin-left: 470px">
      <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.hellodd.com%2Fnews%2FarticleView.html%3Fidxno%3D71835&psig=AOvVaw2mpVtQMQTa_BjFN1XYQBiU&ust=1620137682059000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLjSyKrZrfACFQAAAAAdAAAAABAD" id="home" width= 300px height= 400px>
          <script type="text/javascript">
              var d = new Date();
              document.write("<br/>" + d.getFullYear() + "년 " + (d.getMonth() + 1) + "월 " + d.getDate() + "일");
              document.write(d.getHours() + "시 " + d.getMinutes() + "분 ");
          </script>
    </p>
      
  </article>
  
  <aside>
      <p>IT</p>
      <p>2000.08.14</p>
      <p>Rh + O</p>
      <p>Busan to Seoul</p>
      <p>ENTJ</p>

  </aside>
      
  <footer style>apple tree</footer>
        
</body>
</html> 